/* h1
{
color: aqua;
}
h2,h3{
    color: blueviolet;
}

.ind
{
    color: green;
}

.ve
{
    font-size: 80px;
    background-color: aqua;
}

#pa
{
    font-size: 50px;
    background-color: gold;
}

*
{
    color: chartreuse;
} */